.page-center {
  min-height: calc(100vh - 60px); /* navbar height adjust */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e1e1e;
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.card input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}
